spawn-at-startup "swaybg" "-i" "/usr/share/backgrounds/f43/default/f43-01-day.jxl";

hotkey-overlay {
	skip-at-startup
}

input {
    keyboard { xkb { layout "fr"; variant "mac"; }; }
    touchpad { tap; natural-scroll; dwt; }
}

output "eDP-1" { mode "1920x1080@60.042"; }

layout {
    gaps 10
    struts { left -6; right -6; top -6; bottom -6; }
    center-focused-column "never"
    focus-ring { width 4; active-gradient from="#efc05d" to="#161d43" angle=45 relative-to="workspace-view"; }
    border { off; }
    shadow { on; }
    default-column-width { proportion 1.0; }
}

window-rule { geometry-corner-radius 10; clip-to-geometry true; min-width 300; min-height 300; }

binds {
    Mod+Shift+E { quit; }
}
